[Unit]
Description=ATS Simulator
After=syslog.target network.target

[Service]
PIDFile=/var/run/simulator.pid
Type=simple
EnvironmentFile={{ ats_sim_install_dir }}/env
ExecStart=/bin/node {{ ats_sim_install_dir }}/ats_sim.js
ExecStop=/bin/kill $(cat /var/run/simulator.pid)
LimitNOFILE=500000
User=root
Group=root

[Install]
WantedBy=multi-user.target
